*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none; 
}

header, main, footer nav, aside,section{
    display: block;
}

#wrapper {
    width: 1000px; 
    margin: 0px auto;
}

header{
    background-color:rgb(206, 203, 203);
    padding: 60px;
}

#logo{
    background-image:url("../images/logo.png");
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    width:90px;
    height:90px; 
    margin: 0 auto;
}

section.boxes > section{
    height: 100px;
    width: 100px;
    background-color:rgb(145, 45, 50);
    margin: 17px;
}

/* Navigation********************************************************************/
.selected{
    background-color:rgb(122, 123, 124);
}

nav{
    background-color: black;
}

.navCentered{
    height: 60px;
}

.navCentered > ul{
    display: flex;
    justify-content: center; 
}

.nav1 > ul{ 
    position: relative;
    right: 106px;      
}

li{  
    list-style-type: none;
}

li:hover {
    background-color: rgb(89, 66, 112);
}

.nav1 > ul > li{
    padding:10px 85px;
    margin-top: 9px;
}

.nav3 > ul  >li{
    padding:19px 83px;
}

ul > li > a{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

main{
    display: flex;
}

section.main{
    display: flex;
    position: relative;
    height: 697px;
    width: 756px;
}

section.top{
    display: flex;
    flex-wrap: wrap;
    width:270px;
    height:270px;
    position: absolute;
    left: 23px;
    top: 8px;
}

section.bottom{
    display: flex;
    flex-wrap: wrap;
    width:270px;
    height:270px;
    position: absolute;
    left: 481px;
    top: 418px;
 
}

aside{
    background-color: rgb(206, 203, 203);
    width: 245px;
    position: relative;
}

aside > section{
    height: 59px;
    width: 148px;
    background-color:rgb(127, 112, 138);
    position: absolute;
    right: 15px;
    top:200px;
}

footer{
    height: 50px;
    background-color: rgb(179, 174, 174);
    width: 100%;
}

/*****************************************/

#wrapper2{
    display: flex;
    width: 1000px; 
    margin: 0px auto;
}

.nav2 > ul{
    width: 146px;
}

.nav2 > ul> li{
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 7px;
}

section.first{
    background-color: rgb(228, 227, 227);
    width:257px;
    height: 758px;  
    position: relative;
}

section.squares > section{  
    background-color:rgb(36, 100, 65); 
}

section.squares{
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    height: 117px;
    position: absolute;
    left: -6px;
    top: 495px;
}

section.second{
    position: relative;
    width: 596px;
    height: 758px;  
}

section.box{
    width: 270px;
    background-color:rgb(36, 100, 65);
    position: absolute;
}

section.box1
{
    height:322px;
    left: 22px;
    top: 22px;
}

section.box2{
    height:412px;
    left: 22px;
    top: 370px;
}

section.box3{
    height:255px;
    left: 308px;
    top: 22px;
}

section.box4{
    height:364px;
    left: 308px; 
    top: 300px; 
}

.footerFixed{
    position: fixed;  
}

/*********************************************/
#main{  
    flex-wrap: wrap;
    position: relative;
}

.square{
    width:  333px;
    height: 348px;
}

.myBackground{
    background-image: url(../images/bunny.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}

.star{
    position: absolute;
    right: 15px;
    width: 50px;
    height: 50px;
    padding-top: 10px;
}

.plus{
    position: absolute;
    top: 115px;
    left: 100px;
    
}


@media only screen and(max_width:666px){
    
    .nav3 > ul  >li{
        padding:19px 75px;
    } 
   
  
}